In [2]:
import pandas as pd

In [42]:
df_ventas = pd.read_excel('RegistrosVentas.xlsx', index_col=0)
df_ventas.head()

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C1008,Asia,Tajikistan,Alimento infantil,Online,Alta,2020-04-01,100884807.0,2020-04-30,2911.0,255.28,159.42,743120.08,464071.62
C1061,Europa,Czech Republic,Material de oficina,Offline,Crítica,2020-01-29,106102883.0,2020-02-28,7056.0,651.21,524.96,4594937.76,3704117.76
C1062,Centroamérica y Caribe,Cuba,Cereales,Online,Crítica,2022-06-13,106213176.0,2022-07-15,9694.0,205.70,117.11,1994055.80,1135264.34
C1069,África,Oman,Cereales,Offline,Crítica,2021-06-23,106946170.0,2021-07-27,6603.0,205.70,117.11,1358237.10,773277.33
C1069,Centroamérica y Caribe,Dominican Republic,Ropa,Offline,Alta,2022-01-07,106919562.0,2022-02-25,8729.0,109.28,35.84,953905.12,312847.36

In [43]:
cereal_bebida = df_ventas[df_ventas['Tipo_Producto'].isin(['Cereales','Bebida'])]

In [44]:
cereal.info()

<class 'pandas.core.frame.DataFrame'>
Index: 182 entries, C1062 to C9962
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Zona               182 non-null    object
 1   País               182 non-null    object
 2   Tipo_Producto      182 non-null    object
 3   Canal_Venta        182 non-null    object
 4   Prioridad          182 non-null    object
 5   Fecha_Pedido       182 non-null    datetime64[ns]
 6   ID_Pedido          182 non-null    float64
 7   Fecha_Envío        182 non-null    datetime64[ns]
 8   Unidades           181 non-null    float64
 9   Precio_Unitario    182 non-null    object
 10  Coste unitario     182 non-null    object
 11  ImporteVentaTotal  182 non-null    object
 12  ImporteCosteTotal  182 non-null    object
dtypes: datetime64[ns](2), float64(2), object(9)
memory usage: 19.9+ KB

In [45]:
cereal_alta= df_ventas[(df_ventas['Tipo_Producto']=='Cereales') | (df_ventas['Prioridad']=='Alta')]
cereal_alta

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C1008,Asia,Tajikistan,Alimento infantil,Online,Alta,2020-04-01,100884807.0,2020-04-30,2911.0,255.28,159.42,743120.08,464071.62
C1062,Centroamérica y Caribe,Cuba,Cereales,Online,Crítica,2022-06-13,106213176.0,2022-07-15,9694.0,205.70,117.11,1994055.80,1135264.34
C1069,África,Oman,Cereales,Offline,Crítica,2021-06-23,106946170.0,2021-07-27,6603.0,205.70,117.11,1358237.10,773277.33
C1069,Centroamérica y Caribe,Dominican Republic,Ropa,Offline,Alta,2022-01-07,106919562.0,2022-02-25,8729.0,109.28,35.84,953905.12,312847.36
C1118,Australia y Oceanía,East Timor,Bebida,Offline,Alta,2020-07-30,111818778.0,2020-08-23,8516.0,47.45,31.79,404084.20,270723.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...
C9804,África,Botswana,Cereales,Offline,Baja,2022-07-07,980479419.0,2022-08-06,4503.0,205.70,117.11,926267.10,527346.33
C9920,África,Lebanon,Alimento infantil,Online,Alta,2020-03-06,992061841.0,2020-03-24,1999.0,255.28,159.42,510304.72,318680.58
C9950,Europa,Ukraine,Alimento infantil,Offline,Alta,2021-10-22,995013129.0,2021-11-27,5351.0,255.28,159.42,1366003.28,853056.42
C9962,Europa,Cyprus,Cereales,Offline,Media,2022-08-31,996237075.0,2022-08-31,7544.0,205.70,117.11,1551800.80,883477.84
C9987,Asia,Malaysia,Ropa,Offline,Alta,2020-03-05,998791825.0,2020-03-21,3551.0,109.28,35.84,388053.28,127267.84

In [19]:
import datetime as dt

anio = df_ventas[df_ventas['Fecha_Pedido'].dt.year==2022]
anio

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C1062,Centroamérica y Caribe,Cuba,Cereales,Online,Crítica,2022-06-13,106213176.0,2022-07-15,9694.0,205.7,117.11,1994055.8,1135264.34
C1069,Centroamérica y Caribe,Dominican Republic,Ropa,Offline,Alta,2022-01-07,106919562.0,2022-02-25,8729.0,109.28,35.84,953905.12,312847.36
C1112,Asia,Mongolia,Material de oficina,Offline,Media,2022-08-07,111265599.0,2022-09-07,4818.0,651.21,524.96,3137529.78,2529257.28
C1154,Centroamérica y Caribe,El Salvador,Ropa,Offline,Media,2022-11-02,115460574.0,2022-11-19,6205.0,109.28,35.84,678082.4,222387.2
C1184,África,Liberia,Doméstico,Offline,Alta,2022-11-04,118491685.0,2022-12-14,3178.0,668.27,502.54,2123762.06,1597072.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
C9709,África,Togo,Cuidado personal,Online,Media,2022-09-08,970932042.0,2022-10-09,9222.0,81.73,56.67,753714.06,522610.74
C9795,Australia y Oceanía,Federated States of Micronesia,Frutas,Offline,Crítica,2022-09-03,979550302.0,2022-10-03,9557.0,9.33,6.92,89166.81,66134.44
C9804,África,Botswana,Cereales,Offline,Baja,2022-07-07,980479419.0,2022-08-06,4503.0,205.7,117.11,926267.1,527346.33
C9878,Europa,Kosovo,Snacks,Offline,Media,2022-01-23,987835109.0,2022-03-13,1215.0,152.58,97.44,185384.7,118389.6
C9962,Europa,Cyprus,Cereales,Offline,Media,2022-08-31,996237075.0,2022-08-31,7544.0,205.7,117.11,1551800.8,883477.84

In [27]:
cereal_alta_2020= df_ventas[(df_ventas['Tipo_Producto']=='Cereales') & (df_ventas['Prioridad']=='Alta') & (df_ventas['Fecha_Pedido'].dt.year==2020)]
cereal_alta_2020

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C1347,África,Qatar,Cereales,Offline,Alta,2020-10-29,134709823.0,2020-11-25,2485.0,205.7,117.11,511164.5,291018.35
C3108,Australia y Oceanía,Tuvalu,Cereales,Online,Alta,2020-01-27,310803496.0,2020-03-04,2516.0,205.7,117.11,517541.2,294648.76
C5078,Asia,Cambodia,Cereales,Offline,Alta,2020-09-04,507809388.0,2020-09-05,937.0,205.7,117.11,192740.9,109732.07
C6958,Centroamérica y Caribe,Costa Rica,Cereales,Online,Alta,2020-07-30,695891892.0,2020-08-03,8730.0,205.7,117.11,1795761,1022370.3
C7036,Europa,Sweden,Cereales,Online,Alta,2020-04-27,703659999.0,2020-05-14,7485.0,205.7,117.11,1539664.5,876568.35
C8655,África,Morocco,Cereales,Online,Alta,2020-10-04,865581738.0,2020-10-23,3726.0,205.7,117.11,766438.2,436351.86

In [28]:
unidades= df_ventas[df_ventas['Unidades'].between(8031,8100)]
unidades

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C1172,África,Liberia,Verduras,Offline,Baja,2021-02-14,117223966.0,2021-02-25,8031.0,154.06,90.93,1237255.86,730258.83
C7855,Asia,Thailand,Snacks,Offline,Alta,2020-12-17,785507714.0,2020-12-31,8043.0,152.58,97.44,1227200.94,783709.92
C8924,África,The Gambia,Material de oficina,Online,Alta,2022-06-08,892427861.0,2022-07-25,8091.0,651.21,524.96,5268940.11,4247451.36
C9185,Australia y Oceanía,Nauru,Cárnicos,Offline,Alta,2022-05-14,918515670.0,2022-06-07,8053.0,421.89,364.69,3397480.17,2936848.57
C9689,África,Qatar,Cárnicos,Offline,Media,2021-02-04,968968236.0,2021-03-08,8088.0,421.89,364.69,3412246.32,2949612.72

In [30]:
df_ventas.iloc[0:2,0:1]

              Zona
ID_Cliente
C1008         Asia
C1061       Europa

In [31]:
df_ventas.iloc[0:2,0:3]

              Zona            País        Tipo_Producto
ID_Cliente
C1008         Asia      Tajikistan    Alimento infantil
C1061       Europa  Czech Republic  Material de oficina

In [33]:
df_ventas.groupby('Tipo_Producto')['Unidades'].agg(['min','max','mean','sum','count'])

                       min     max         mean       sum  count
Tipo_Producto
Alimento infantil    154.0  9912.0  5914.232877  431739.0     73
Bebida                 1.0  9740.0  5248.827586  456648.0     87
Cereales              55.0  9882.0  4794.744681  450706.0     94
Cosméticos           187.0  9730.0  5013.945946  371032.0     74
Cuidado personal     276.0  9989.0  5418.809524  455180.0     84
Cárnicos              10.0  9453.0  5037.500000  423150.0     84
Doméstico            239.0  9904.0  4846.096386  402226.0     83
Frutas                17.0  9884.0  4768.164706  405294.0     85
Material de oficina  236.0  9655.0  4554.062500  364325.0     80
Ropa                 183.0  9673.0  4837.743590  377344.0     78
Snacks               474.0  9707.0  5360.402299  466355.0     87
Verduras              91.0  9946.0  4639.808989  412943.0     89

In [49]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, C1008 to C9987
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Zona               1000 non-null   object
 1   País               1000 non-null   object
 2   Tipo_Producto      1000 non-null   object
 3   Canal_Venta        1000 non-null   object
 4   Prioridad          1000 non-null   object
 5   Fecha_Pedido       999 non-null    datetime64[ns]
 6   ID_Pedido          999 non-null    float64
 7   Fecha_Envío        997 non-null    datetime64[ns]
 8   Unidades           998 non-null    float64
 9   Precio_Unitario    1000 non-null   float64
 10  Coste unitario     1000 non-null   object
 11  ImporteVentaTotal  1000 non-null   float64
 12  ImporteCosteTotal  1000 non-null   object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 109.4+ KB

In [46]:
df_ventas.ImporteVentaTotal =df_ventas.ImporteVentaTotal.astype(float)

In [47]:
df_ventas.Precio_Unitario =df_ventas.Precio_Unitario.astype(float)

In [51]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, C1008 to C9987
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Zona               1000 non-null   object
 1   País               1000 non-null   object
 2   Tipo_Producto      1000 non-null   object
 3   Canal_Venta        1000 non-null   object
 4   Prioridad          1000 non-null   object
 5   Fecha_Pedido       999 non-null    datetime64[ns]
 6   ID_Pedido          999 non-null    float64
 7   Fecha_Envío        997 non-null    datetime64[ns]
 8   Unidades           998 non-null    float64
 9   Precio_Unitario    1000 non-null   float64
 10  Coste unitario     1000 non-null   object
 11  ImporteVentaTotal  1000 non-null   float64
 12  ImporteCosteTotal  1000 non-null   object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 141.7+ KB

In [52]:
df_ventas[df_ventas['Unidades'].isnull()]

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C4279,Europa,Slovakia,Frutas,Offline,Alta,2021-09-21,427934491.0,2021-10-04,NaN,9.33,6.92,38999.4,28925.6
C8248,África,Ethiopia,Cereales,Online,Media,2020-11-06,824894130.0,2020-12-20,NaN,205.70,117.11,690946.3,393372.49

In [53]:
df_ventas.Unidades=df_ventas.Unidades.fillna(df_ventas.ImporteVentaTotal/df_ventas.Precio_Unitario)

In [54]:
df_ventas[df_ventas['Unidades'].isnull()]

Empty DataFrame
Columns: [Zona, País, Tipo_Producto, Canal_Venta, Prioridad, Fecha_Pedido, ID_Pedido, Fecha_Envío, Unidades, Precio_Unitario, Coste unitario, ImporteVentaTotal, ImporteCosteTotal]
Index: []

In [55]:
df_ventas.rename(columns={'Coste unitario':'Coste_Unitario'}, inplace=True)

In [57]:
df_ventas

,Zona,País,Tipo_Producto,Canal_Venta,Prioridad,Fecha_Pedido,ID_Pedido,Fecha_Envío,Unidades,Precio_Unitario,Coste_Unitario,ImporteVentaTotal,ImporteCosteTotal
ID_Cliente,,,,,,,,,,,,,
C1008,Asia,Tajikistan,Alimento infantil,Online,Alta,2020-04-01,100884807.0,2020-04-30,2911.0,255.28,159.42,743120.08,464071.62
C1061,Europa,Czech Republic,Material de oficina,Offline,Crítica,2020-01-29,106102883.0,2020-02-28,7056.0,651.21,524.96,4594937.76,3704117.76
C1062,Centroamérica y Caribe,Cuba,Cereales,Online,Crítica,2022-06-13,106213176.0,2022-07-15,9694.0,205.70,117.11,1994055.80,1135264.34
C1069,África,Oman,Cereales,Offline,Crítica,2021-06-23,106946170.0,2021-07-27,6603.0,205.70,117.11,1358237.10,773277.33
C1069,Centroamérica y Caribe,Dominican Republic,Ropa,Offline,Alta,2022-01-07,106919562.0,2022-02-25,8729.0,109.28,35.84,953905.12,312847.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
C9949,Europa,Germany,Verduras,Online,Crítica,2021-10-14,994932448.0,2021-11-23,1476.0,154.06,90.93,227392.56,134212.68
C9950,Europa,Ukraine,Alimento infantil,Offline,Alta,2021-10-22,995013129.0,2021-11-27,5351.0,255.28,159.42,1366003.28,853056.42
C9962,Europa,Cyprus,Cereales,Offline,Media,2022-08-31,996237075.0,2022-08-31,7544.0,205.70,117.11,1551800.80,883477.84
C9964,Norteamérica,Greenland,Material de oficina,Online,Baja,2020-12-12,996425902.0,2021-01-02,3422.0,651.21,524.96,2228440.62,1796413.12
C9987,Asia,Malaysia,Ropa,Offline,Alta,2020-03-05,998791825.0,2020-03-21,3551.0,109.28,35.84,388053.28,127267.84

In [58]:
df_ventas.Coste_Unitario =df_ventas.Coste_Unitario.astype(float)

ValueError: could not convert string to float: '50s,54'